In [8]:
from ib_insync import IB, Stock, util
import pandas as pd

# In your Jupyter notebook (TEST_Daily_Analysis.ipynb)
import sys
from pathlib import Path

# Add the project root directory to Python path
ROOT_DIR = Path.cwd().parent  # Goes up one level from 'scanner' to 'stockbot4'
if str(ROOT_DIR) not in sys.path:
    sys.path.append(str(ROOT_DIR))


from ib_insync import *
util.startLoop()
import stock

ib = IB()
ib.connect('127.0.0.1', 7496, clientId=12)

In [19]:

from ib_insync import *
util.startLoop()

ib = IB()
ib.connect('127.0.0.1', 7496, clientId=13)

ct = Stock('TSLA', 'SMART', 'USD')

# 1 min max 7 D
# 5 mins max 30 D
# 15 mins max 60 D
# 1 hour max 365 D
# 1 day max 20 Y

bars = ib.reqHistoricalData(
        ct,
        endDateTime='20241101 23:59:59 US/Eastern',
        barSizeSetting='15 mins',
        durationStr='30 D',
        whatToShow='TRADES',
        useRTH=False,
        formatDate=1)

ib.disconnect()

df = util.df(bars)
df

,date,open,high,low,close,volume,average,barCount
0,2024-09-23 03:00:00,240.00,240.90,239.88,240.54,370,240.458,227
1,2024-09-23 03:15:00,240.67,240.77,240.20,240.65,183,240.583,113
2,2024-09-23 03:30:00,240.70,240.70,240.24,240.35,110,240.456,58
3,2024-09-23 03:45:00,240.28,240.73,240.10,240.73,129,240.430,77
4,2024-09-23 04:00:00,240.73,240.94,240.60,240.73,78,240.784,52
...,...,...,...,...,...,...,...,...
1915,2024-11-01 17:45:00,249.37,249.39,249.20,249.32,169,249.290,62
1916,2024-11-01 18:00:00,249.34,249.34,249.14,249.14,79,249.269,37
1917,2024-11-01 18:15:00,249.14,249.20,249.14,249.15,72,249.165,32
1918,2024-11-01 18:30:00,249.15,249.18,249.05,249.07,151,249.104,51
1919,2024-11-01 18:45:00,249.07,249.37,249.05,249.37,258,249.207,81

In [20]:

from ib_insync import util, IB
from data.live_ib_data import LiveData
util.startLoop()

ib = IB()
ib.connect('127.0.0.1', 7496, clientId=16)

ld = LiveData(ib)

ld.setup_tickers(['TSLA', 'AAPL', 'AMD'])
ld.setup_contracts()
ld.reqLiveBars(show=False)

In [21]:
df = ld.get_live_bar_df(ticker='AMD', format=False, bsize='5 mins', tickUpdate=True) #.iloc[-10:]
df

,time,endTime,open_,high,low,close,volume,wap,count
0,2025-03-19 19:28:40+00:00,-1,106.48,106.48,106.42,106.42,38,106.45,29

In [22]:
df = ld.get_live_bar_df(ticker='TSLA', format=True, bsize='5 mins', tickUpdate=True) #.iloc[-10:]
df

                             open    high     low   close  volume
date
2025-03-19 15:25:00-04:00  236.38  236.48  235.85  235.89   698.5

In [23]:
df = ld.get_live_bar_df(ticker='AAPL', format=True, bsize='5 mins', tickUpdate=True) #.iloc[-10:]
df

                             open    high     low   close  volume
date
2025-03-19 15:25:00-04:00  215.54  215.54  215.44  215.44    57.0

In [24]:
ib.disconnect()