In [1]:
# In your Jupyter notebook (TEST_Daily_Analysis.ipynb)
import sys
from pathlib import Path

# Add the project root directory to Python path
ROOT_DIR = Path.cwd().parent  # Goes up one level from 'scanner' to 'stockbot4'
if str(ROOT_DIR) not in sys.path:
    sys.path.append(str(ROOT_DIR))

In [2]:
from ib_insync import *
util.startLoop()

ib = IB()
ib.connect('127.0.0.1', 7496, clientId=13)

In [11]:
import stock

tsla = stock.StockX(ib, "AAPL")

tsla.get_fundamentals()
tsla.fundamentals.__dict__

{'industry': 'Technology',
 'category': 'Computers',
 'subcategory': 'Computers',
 'primary_etf': '',
 'secondary_etf': '',
 'currency': 'USD',
 'longName': 'APPLE INC',
 'timeZoneId': 'US/Eastern',
 'tradingHours': ('0400', '2000'),
 'liquidHours': ('0930', '1600'),
 'current_price': 246.75,
 'high_52week': 247.24,
 'low_52week': 164.075,
 'pricing_date': '2024-12-09T00:00:00',
 'volume_10day_avg': 45.10546,
 'enterprise_value': 3786706.0,
 'market_cap': 3745248.0,
 'revenue_ttm': 391035.0,
 'ebitda': 134661.0,
 'net_income_ttm': 93736.0,
 'eps_ttm': 6.06992,
 'revenue_per_share': 25.37854,
 'book_value_per_share': 3.76734,
 'cash_per_share': 4.31117,
 'cash_flow_per_share': 6.82635,
 'dividend_per_share': 0.98,
 'gross_margin': 46.20635,
 'operating_margin': 0.0,
 'net_profit_margin': 0.0,
 'revenue_growth_rate': 0.0,
 'eps_growth_rate': 0.0,
 'pe_ratio': 40.81932,
 'price_to_book': 65.76797,
 'price_to_sales': 0.0,
 'employee_count': 164000,
 'forecast': ForecastMetrics(consensus_recommendation=2.1628, target_price=208.9939, projected_growth_rate=0.0, projected_pe=33.79767, projected_sales=412683.0135, projected_sales_growth=125808.9379, projected_eps=7.3008, projected_eps_q=2.3628, projected_profit=109125.9627, projected_operating_margin=0.0),
 'industrys': [StockIndustries(type='TRBC', order=1, code='5710602011', description='Phones & Smart Phones'),
  StockIndustries(type='NAICS', order=1, code='334220', description='Radio and Television Broadcasting and Wireless Communications Equipment Manufacturing'),
  StockIndustries(type='NAICS', order=2, code='334111', description='Electronic Computer Manufacturing'),
  StockIndustries(type='NAICS', order=3, code='513210', description='Software Publishers'),
  StockIndustries(type='NAICS', order=4, code='334310', description='Audio and Video Equipment Manufacturing'),
  StockIndustries(type='NAICS', order=5, code='334112', description='Computer Storage Device Manufacturing'),
  StockIndustries(type='NAICS', order=6, code='449210', description='Electronics and Appliance Retailers'),
  StockIndustries(type='SIC', order=0, code='3571', description='Electronic Computers'),
  StockIndustries(type='SIC', order=1, code='3663', description='Radio/tv Communications Equip'),
  StockIndustries(type='SIC', order=2, code='3571', description='Electronic Computers'),
  StockIndustries(type='SIC', order=3, code='7372', description='Prepackaged Software'),
  StockIndustries(type='SIC', order=4, code='3651', description='Household Audio/video Equipment'),
  StockIndustries(type='SIC', order=5, code='3572', description='Computer Storage Devices'),
  StockIndustries(type='SIC', order=6, code='5722', description='Household Appliance Stores')],
 'price_to_10day_avg': 0.0,
 'volume_vs_10day_avg_pct': 0.0,
 'distance_from_52wk_high_pct': 0.19818799546999236,
 'distance_from_52wk_low_pct': 50.38854182538475}

In [6]:
import pandas as pd

df = pd.DataFrame(tsla.fundamentals.industrys)
df

,type,order,code,description
0,TRBC,1,5310101014,Electric (Alternative) Vehicles
1,NAICS,1,336110,Automobile and Light Duty Motor Vehicle Manufa...
2,NAICS,2,441110,New Car Dealers
3,NAICS,3,441120,Used Car Dealers
4,NAICS,4,335312,Motor and Generator Manufacturing
5,NAICS,5,335910,Battery Manufacturing
6,NAICS,6,334413,Semiconductor and Related Device Manufacturing
7,SIC,1,3711,Motor Vehicles And Car Bodies
8,SIC,2,5511,New And Used Car Dealers
9,SIC,3,5521,Used Car Dealers
10,SIC,4,3621,Motors And Generators
11,SIC,5,3691,Storage Batteries
12,SIC,6,3674,Semiconductors/related Devices

In [4]:
tsla.get_daily_data()

Loading data from data/historical_data_store/TSLA_1_day.csv
Stored data: 250 rows of data
Loading data from data/historical_data_store/TSLA_1_day.csv

              open    high     low   close   volume
date
2023-12-06  240.61  246.57  238.85  240.37  1080540
2023-12-07  240.80  244.08  236.98  242.91   916952
2023-12-08  242.00  245.27  239.27  243.23   878583
2023-12-11  242.00  245.00  237.45  239.55   819699
2023-12-12  240.25  241.22  233.87  236.48   785221
...            ...     ...     ...     ...      ...
2024-11-26  338.00  346.96  335.21  340.17   470824
2024-11-27  339.76  342.60  326.59  334.40   441879
2024-11-29  336.00  348.50  334.65  345.44   272292
2024-12-02  349.00  360.00  348.00  352.71   594839
2024-12-03  353.02  357.09  348.20  349.95   325534

[250 rows x 5 columns]

In [5]:
tsla.set_default_daily_ta()
tsla.frame.data

,open,high,low,close,volume,MA_cl_200,MA_cl_50,MA_vo_10,ACC_close,VDEV_10,TDUR_MA_cl_50
date,,,,,,,,,,,
2023-12-06,240.61,246.57,238.85,240.37,1080540,NaN,NaN,NaN,NaN,NaN,1
2023-12-07,240.80,244.08,236.98,242.91,916952,NaN,NaN,NaN,NaN,NaN,1
2023-12-08,242.00,245.27,239.27,243.23,878583,NaN,NaN,NaN,NaN,NaN,1
2023-12-11,242.00,245.00,237.45,239.55,819699,NaN,NaN,NaN,NaN,NaN,1
2023-12-12,240.25,241.22,233.87,236.48,785221,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
2024-11-26,338.00,346.96,335.21,340.17,470824,213.43710,269.0762,723829.0,65.76,-34.953698,45
2024-11-27,339.76,342.60,326.59,334.40,441879,214.18910,271.1760,671255.0,48.25,-34.171217,46
2024-11-29,336.00,348.50,334.65,345.44,272292,214.96490,273.2024,605475.7,21.40,-55.028418,47
2024-12-02,349.00,360.00,348.00,352.71,594839,215.71710,275.4706,575070.1,-12.09,3.437650,48
2024-12-03,353.02,357.09,348.20,349.95,325534,216.46925,277.4816,514385.5,9.04,-36.714001,49

In [6]:

tsla.compute_daily_filters_with_scores()

,BRK_UP_MA,BRK_UP_MA,ABV_close_MA_cl_50,ABV_close_MA_cl_200,ABV_3_TDUR_MA_cl_50,ABV_80_VDEV_10,filter_score,all_true
date,,,,,,,,
2023-12-06,False,False,False,False,True,False,1,False
2023-12-07,False,False,False,False,True,False,1,False
2023-12-08,False,False,False,False,True,False,1,False
2023-12-11,False,False,False,False,True,False,1,False
2023-12-12,False,False,False,False,True,False,1,False
...,...,...,...,...,...,...,...,...
2024-11-26,False,False,True,True,False,True,3,False
2024-11-27,False,False,True,True,False,True,3,False
2024-11-29,False,False,True,True,False,True,3,False
2024-12-02,False,False,True,True,False,True,3,False
2024-12-03,False,False,True,True,False,True,3,False

In [7]:
ib.disconnect()

In [8]:
from data import historical_data as hd
from ib_insync import *


tdata = hd.get_hist_data('TSLA', "52 weeksAgo", 'now', '1 day')
tdata

Loading data from data/historical_data_store/TSLA_1_day.csv
Stored data: 250 rows of data
Loading data from data/historical_data_store/TSLA_1_day.csv

              open    high     low   close   volume
date
2023-12-06  240.61  246.57  238.85  240.37  1080540
2023-12-07  240.80  244.08  236.98  242.91   916952
2023-12-08  242.00  245.27  239.27  243.23   878583
2023-12-11  242.00  245.00  237.45  239.55   819699
2023-12-12  240.25  241.22  233.87  236.48   785221
...            ...     ...     ...     ...      ...
2024-11-26  338.00  346.96  335.21  340.17   470824
2024-11-27  339.76  342.60  326.59  334.40   441879
2024-11-29  336.00  348.50  334.65  345.44   272292
2024-12-02  349.00  360.00  348.00  352.71   594839
2024-12-03  353.02  357.09  348.20  349.95   325534

[250 rows x 5 columns]

In [ ]:
mansfield, roc, combined = analyze_sector(
    etf_symbol='XLE',
    lookback_period="26 weeksAgo",
    mansfield_period=150,
    roc_period=150,
    ma_short=20,
    ma_long=100,
    verbose=True
)

In [17]:

    



# Example Usage
# Assuming `etf_data` and `market_data` are DataFrames with the required columns


from data import historical_data as hd
import compare



etf_data = hd.get_hist_data('XLF', "52 weeksAgo", 'now', '1 day')
market_data = hd.get_hist_data('SPY', "52 weeksAgo", 'now', '1 day')

analysis = compare.SectorAnalysis(etf_data, market_data)
analysis.compute_all(
    mansfield_period=200,  # Period for Mansfield RSI
    roc_period=200,         # Period for MA ROC ratio
    ma_short=50,           # Short MA period
    ma_long=200           # Long MA period
)
result_df = analysis.get_df()
today_metrics = analysis.get_today(verbose=True)
display(today_metrics)
result_df

Loading data from data/historical_data_store/XLF_1_day.csv
Stored data: 249 rows of data
Loading data from data/historical_data_store/XLF_1_day.csv
Loading data from data/historical_data_store/SPY_1_day.csv
Stored data: 250 rows of data
Loading data from data/historical_data_store/SPY_1_day.csv

=== Today's Market Analysis ===

Mansfield RSI: 4.25
MA ROC Ratio: 1.16
Combined Score: 2.71

📈 BULLISH

mansfield_rsi     4.254055
ma_roc_ratio      1.160618
combined_score    2.707337
dtype: float64

,etf_50_ma,etf_200_ma,market_50_ma,market_200_ma,mansfield_rsi,ma_roc_ratio,combined_score
date,,,,,,,
2024-09-25,43.9020,41.07935,551.0202,520.40360,-0.554947,0.000000,-0.277474
2024-09-26,43.9246,41.12345,551.3066,520.96265,-0.521474,-0.003399,-0.262437
2024-09-27,43.9616,41.16730,551.6480,521.50450,0.199075,0.125981,0.162528
2024-09-30,44.0124,41.21035,552.1318,522.04710,0.014426,0.025382,0.019904
2024-10-01,44.0514,41.24860,552.4014,522.52575,0.510626,0.061587,0.286106
2024-10-02,44.0928,41.28670,552.7696,523.01615,0.406175,-0.079116,0.163530
2024-10-03,44.1360,41.32415,553.2764,523.50465,0.084966,-0.144174,-0.029604
2024-10-04,44.1912,41.36600,553.9360,524.00725,1.017609,0.274168,0.645889
2024-10-07,44.2238,41.40340,554.4046,524.47240,0.609759,0.092630,0.351194
2024-10-08,44.2666,41.44570,554.9892,524.99215,0.306760,0.154677,0.230719
2024-10-09,44.3048,41.48825,555.6748,525.51525,0.430814,0.151779,0.291296
2024-10-10,44.3398,41.52995,556.1410,526.03320,0.139535,0.098919,0.119227
2024-10-11,44.4078,41.57510,556.8910,526.54830,1.758752,0.550656,1.154704
2024-10-14,44.5060,41.62090,557.9602,527.08735,1.317989,0.380177,0.849083
2024-10-15,44.6228,41.66690,559.0990,527.60140,2.459155,0.665238,1.562197
2024-10-16,44.7446,41.71640,560.3310,528.13375,3.343850,0.884663,2.114256
2024-10-17,44.8698,41.76565,561.6700,528.68575,3.373496,0.646830,2.010163
2024-10-18,44.9762,41.81635,562.7326,529.26260,3.019699,0.562206,1.790953
2024-10-21,45.0736,41.86465,563.7450,529.84165,2.496187,0.278618,1.387402
2024-10-22,45.1724,41.91125,564.7408,530.41475,2.286505,0.145449,1.215977
2024-10-23,45.2638,41.95715,565.4732,530.93650,3.096399,0.566189,1.831294
2024-10-24,45.3460,42.00405,566.1858,531.46435,2.921315,0.620916,1.771116
2024-10-25,45.4096,42.04815,566.6738,531.96870,2.090544,0.531211,1.310877
2024-10-28,45.4784,42.09635,567.2104,532.49505,2.806922,0.791051,1.798986
2024-10-29,45.5368,42.14370,567.6852,533.03205,1.800923,0.576184,1.188554
2024-10-30,45.6024,42.19295,568.0724,533.54780,3.191806,1.035176,2.113491
2024-10-31,45.6568,42.23930,568.2370,534.03320,3.247986,1.033742,2.140864
2024-11-01,45.7052,42.28545,568.5196,534.50600,2.972283,1.165119,2.068701
2024-11-04,45.7404,42.32710,568.6654,534.94070,2.533747,1.051694,1.792721
2024-11-05,45.7948,42.37285,569.0414,535.41845,3.188759,1.047428,2.118094
2024-11-06,45.8910,42.42970,569.6354,535.94090,6.002342,1.853159,3.927751
2024-11-07,45.9700,42.48215,570.4608,536.49220,3.454711,1.005209,2.229960
2024-11-08,46.0462,42.53570,571.2436,537.04750,3.779882,1.084892,2.432387
2024-11-11,46.1312,42.59210,571.9374,537.60445,5.438476,1.383876,3.411176
2024-11-12,46.2162,42.64675,572.8398,538.12860,5.215581,1.567167,3.391374
2024-11-13,46.3072,42.69990,573.7826,538.66965,5.324042,1.192082,3.258062
2024-11-14,46.3998,42.75395,574.6402,539.20920,5.637011,1.311136,3.474074
2024-11-15,46.5138,42.80910,575.5882,539.68150,7.317035,2.320361,4.818698
2024-11-18,46.6094,42.86475,576.4064,540.15365,7.281950,2.382754,4.832352
2024-11-19,46.7156,42.92025,577.2682,540.64775,6.103680,2.047889,4.075784
2024-11-20,46.8210,42.97370,577.9522,541.12120,5.986625,2.079644,4.033134
2024-11-21,46.9374,43.02970,578.6268,541.59725,6.655316,2.360842,4.508079
2024-11-22,47.0642,43.08900,579.3228,542.08920,7.273616,2.529840,4.901728
2024-11-25,47.1796,43.14790,579.9794,542.56055,7.435948,2.784884,5.110416
2024-11-26,47.2962,43.20765,580.7322,543.06505,7.102127,2.398557,4.750342
2024-11-27,47.4172,43.27060,581.4202,543.59070,7.629488,2.473547,5.051518
2024-11-29,47.5294,43.33115,582.0776,544.11305,6.776289,2.242415,4.509352
2024-12-02,47.6342,43.38665,582.7870,544.62310,5.822126,1.811644,3.816885
2024-12-03,47.7350,43.44110,583.4848,545.15230,4.905329,1.447609,3.176469
2024-12-04,47.8418,43.49525,584.1858,545.70335,4.254055,1.160618,2.707337

In [5]:
etf_data

             open   high    low  close  volume
date
2023-12-08  35.97  36.19  35.83  36.14  311722
2023-12-11  36.13  36.42  36.09  36.38  287274
2023-12-12  36.35  36.66  36.29  36.66  298369
2023-12-13  36.69  37.41  36.55  37.41  525548
2023-12-14  37.28  37.71  37.23  37.55  622257
...           ...    ...    ...    ...     ...
2024-11-27  51.26  51.62  51.18  51.33  289386
2024-11-29  51.51  51.57  51.21  51.26  138172
2024-12-02  51.35  51.49  50.70  50.86  477889
2024-12-03  50.86  51.13  50.42  50.48  430255
2024-12-04  50.48  50.52  50.08  50.35  324335

[249 rows x 5 columns]

In [3]:
from ib_insync import IB, Stock
import xml.etree.ElementTree as ET

contract = Stock('TSLA', 'SMART', 'USD')

# fundamental_data = ib.reqFundamentalData(contract, 'ReportsFundamentals')
fundamental_data = ib.reqFundamentalData(contract, 'ReportSnapshot')
root = ET.fromstring(fundamental_data)

In [5]:
def print_xml_tree(element, indent=0):
    """Print the XML tree structure with indentation"""
    # Print current element
    print('  ' * indent + f'<{element.tag}>', end='')
    
    # Print attributes if any
    if element.attrib:
        print(f' {element.attrib}', end='')
        
    # Print text content if it exists and isn't whitespace
    if element.text and element.text.strip():
        print(f' = {element.text.strip()}')
    else:
        print()
        
    # Print all children recursively
    for child in element:
        print_xml_tree(child, indent + 1)

print_xml_tree(root)

<ReportSnapshot> {'Major': '1', 'Minor': '0', 'Revision': '1'}
  <CoIDs>
    <CoID> {'Type': 'RepNo'} = C8279
    <CoID> {'Type': 'CompanyName'} = Tesla Inc
    <CoID> {'Type': 'IRSNo'} = 912197729
    <CoID> {'Type': 'CIKNo'} = 0001318605
    <CoID> {'Type': 'OrganizationPermID'} = 5088024644
  <Issues>
    <Issue> {'ID': '1', 'Type': 'C', 'Desc': 'Common Stock', 'Order': '1'}
      <IssueID> {'Type': 'Name'} = Ordinary Shares
      <IssueID> {'Type': 'Ticker'} = TSLA
      <IssueID> {'Type': 'RIC'} = TSLA.O
      <IssueID> {'Type': 'DisplayRIC'} = TSLA.OQ
      <IssueID> {'Type': 'InstrumentPI'} = 67910050
      <IssueID> {'Type': 'QuotePI'} = 72106022
      <Exchange> {'Code': 'NASD', 'Country': 'USA'} = NASDAQ
      <GlobalListingType> = OSR
      <MostRecentSplit> {'Date': '2022-08-25'} = 3.00003
    <Issue> {'ID': '2', 'Type': 'P', 'Desc': 'Preferred Stock', 'Order': '1'}
      <IssueID> {'Type': 'Name'} = Preference Shares Series B
      <IssueID> {'Type': 'InstrumentPI'} = 74477553
      <Exchange> {'Code': 'NA', 'Country': ''} = Not Available
    <Issue> {'ID': '3', 'Type': 'P', 'Desc': 'Preferred Stock', 'Order': '2'}
      <IssueID> {'Type': 'Name'} = Preference Shares Series E
      <IssueID> {'Type': 'InstrumentPI'} = 74477621
      <Exchange> {'Code': 'NA', 'Country': ''} = Not Available
    <Issue> {'ID': '4', 'Type': 'P', 'Desc': 'Preferred Stock', 'Order': '3'}
      <IssueID> {'Type': 'Name'} = Preference Shares Series F
      <IssueID> {'Type': 'InstrumentPI'} = 74477624
      <Exchange> {'Code': 'NA', 'Country': ''} = Not Available
    <Issue> {'ID': '5', 'Type': 'P', 'Desc': 'Preferred Stock', 'Order': '4'}
      <IssueID> {'Type': 'Name'} = Preference Shares Series A
      <IssueID> {'Type': 'InstrumentPI'} = 74453590
      <Exchange> {'Code': 'NA', 'Country': ''} = Not Available
    <Issue> {'ID': '6', 'Type': 'P', 'Desc': 'Preferred Stock', 'Order': '5'}
      <IssueID> {'Type': 'Name'} = Preference Shares Series D
      <IssueID> {'Type': 'InstrumentPI'} = 74477617
      <Exchange> {'Code': 'NA', 'Country': ''} = Not Available
    <Issue> {'ID': '7', 'Type': 'P', 'Desc': 'Preferred Stock', 'Order': '6'}
      <IssueID> {'Type': 'Name'} = Preference Shares Series C
      <IssueID> {'Type': 'InstrumentPI'} = 74477554
      <Exchange> {'Code': 'NA', 'Country': ''} = Not Available
  <CoGeneralInfo>
    <CoStatus> {'Code': '1'} = Active
    <CoType> {'Code': 'EQU'} = Equity Issue
    <LastModified> = 2024-10-28
    <LatestAvailableAnnual> = 2023-12-31
    <LatestAvailableInterim> = 2024-09-30
    <Employees> {'LastUpdated': '2023-12-31'} = 140473
    <SharesOut> {'Date': '2024-10-18', 'TotalFloat': '2795581355.0'} = 3210059659.0
    <ReportingCurrency> {'Code': 'USD'} = U.S. Dollars
    <MostRecentExchange> {'Date': '2024-12-02'} = 1.0
  <TextInfo>
    <Text> {'Type': 'Business Summary', 'lastModified': '2024-06-20T11:33:57'} = Tesla, Inc. designs, develops, manufactures, sells and leases high-performance fully electric vehicles and energy generation and storage systems, and offers services related to its products. The Company's segments include automotive, and energy generation and storage. The automotive segment includes the design, development, manufacturing, sales and leasing of high-performance fully electric vehicles, and sales of automotive regulatory credits. It also includes sales of used vehicles, non-warranty after-sales vehicle services, body shop and parts, paid supercharging, vehicle insurance and retail merchandise. Its consumer vehicles include the Model 3, Y, S, X and Cybertruck. The energy generation and storage segment includes the design, manufacture, installation, sales and leasing of solar energy generation and energy storage products and related services and sales of solar energy systems incentives. Its lithium-ion battery energy storage products include Powerwall and Megapack.
    <Text> {'Type': 'Financial Summary', 'lastModified': '2024-10-28T01:24:25'} = BRIEF: For the nine months ended 30 September 2024, Tesla Inc revenues increased 1% to $71.98B. Net income decreased 32% to $4.82B. Revenues reflect Automotive segment increase of 5% to $22.81B, Energy generation and storage segment increase of 52% to $2.38B, United States segment increase of 16% to $12.58B, China segment increase of 13% to $5.67B. Net income was offset by Restructuring and other increase from $0K to $677M (expense), Other income.
  <contactInfo> {'lastUpdated': '2024-12-02T20:02:32'}
    <streetAddress> {'line': '1'} = 1 Tesla Road
    <streetAddress> {'line': '2'}
    <streetAddress> {'line': '3'}
    <city> = AUSTIN
    <state-region> = TX
    <postalCode> = 78725
    <country> {'code': 'USA'} = United States
    <contactName>
    <contactTitle>
    <phone>
  <webLinks> {'lastUpdated': '2024-06-19T04:28:32'}
    <webSite> {'mainCategory': 'Home Page'} = https://www.tesla.com/
    <eMail> {'mainCategory': 'Company Contact/E-mail'} = ir@tesla.com.
  <peerInfo> {'lastUpdated': '2024-12-02T20:02:32'}
    <IndustryInfo>
      <Industry> {'type': 'TRBC', 'order': '1', 'reported': '0', 'code': '5310101014', 'mnem': ''} = Electric (Alternative) Vehicles
      <Industry> {'type': 'NAICS', 'order': '1', 'reported': '0', 'code': '336110', 'mnem': ''} = Automobile and Light Duty Motor Vehicle Manufacturing
      <Industry> {'type': 'NAICS', 'order': '2', 'reported': '0', 'code': '441110', 'mnem': ''} = New Car Dealers
      <Industry> {'type': 'NAICS', 'order': '3', 'reported': '0', 'code': '441120', 'mnem': ''} = Used Car Dealers
      <Industry> {'type': 'NAICS', 'order': '4', 'reported': '0', 'code': '335312', 'mnem': ''} = Motor and Generator Manufacturing
      <Industry> {'type': 'NAICS', 'order': '5', 'reported': '0', 'code': '335910', 'mnem': ''} = Battery Manufacturing
      <Industry> {'type': 'NAICS', 'order': '6', 'reported': '0', 'code': '334413', 'mnem': ''} = Semiconductor and Related Device Manufacturing
      <Industry> {'type': 'SIC', 'order': '1', 'reported': '0', 'code': '3711', 'mnem': ''} = Motor Vehicles And Car Bodies
      <Industry> {'type': 'SIC', 'order': '2', 'reported': '0', 'code': '5511', 'mnem': ''} = New And Used Car Dealers
      <Industry> {'type': 'SIC', 'order': '3', 'reported': '0', 'code': '5521', 'mnem': ''} = Used Car Dealers
      <Industry> {'type': 'SIC', 'order': '4', 'reported': '0', 'code': '3621', 'mnem': ''} = Motors And Generators
      <Industry> {'type': 'SIC', 'order': '5', 'reported': '0', 'code': '3691', 'mnem': ''} = Storage Batteries
      <Industry> {'type': 'SIC', 'order': '6', 'reported': '0', 'code': '3674', 'mnem': ''} = Semiconductors/related Devices
    <Indexconstituet> = S&P 500
  <officers>
    <officer> {'rank': '1', 'since': '04/2004'}
      <firstName> = Elon
      <mI> = R.
      <lastName> = Musk
      <age> = 52
      <title> {'startYear': '2018', 'startMonth': '11', 'startDay': '09', 'iD1': 'CEO', 'abbr1': 'CEO', 'iD2': 'DRC', 'abbr2': 'Dir.'} = Chief Executive Officer, Director, Technoking
    <officer> {'rank': '2', 'since': '03/13/2019'}
      <firstName> = Vaibhav
      <mI>
      <lastName> = Taneja
      <age> = 46
      <title> {'startYear': '2023', 'startMonth': '08', 'startDay': '04', 'iD1': 'CFO', 'abbr1': 'CFO', 'iD2': '', 'abbr2': ''} = Chief Financial Officer
    <officer> {'rank': '3', 'since': '04/2023'}
      <firstName> = Xiaotong
      <mI>
      <lastName> = Zhu
      <age> = 44
      <title> {'startYear': '2023', 'startMonth': '04', 'startDay': '', 'iD1': 'SVP', 'abbr1': 'Sr. VP', 'iD2': '', 'abbr2': ''} = Senior Vice President - Automotive
  <Ratios> {'PriceCurrency': 'USD', 'ReportingCurrency': 'USD', 'ExchangeRate': '1.00000', 'LatestAvailableDate': '2024-09-30'}
    <Group> {'ID': 'Price and Volume'}
      <Ratio> {'FieldName': 'NPRICE', 'Type': 'N'} = 369.49000
      <Ratio> {'FieldName': 'NHIG', 'Type': 'N'} = 375.43000
      <Ratio> {'FieldName': 'NLOW', 'Type': 'N'} = 138.80250
      <Ratio> {'FieldName': 'PDATE', 'Type': 'D'} = 2024-12-05T00:00:00
      <Ratio> {'FieldName': 'VOL10DAVG', 'Type': 'N'} = 66.88714
      <Ratio> {'FieldName': 'EV', 'Type': 'N'} = 1160133.00000
    <Group> {'ID': 'Income Statement'}
      <Ratio> {'FieldName': 'MKTCAP', 'Type': 'N'} = 1186085.00000
      <Ratio> {'FieldName': 'TTMREV', 'Type': 'N'} = 97150.00000
      <Ratio> {'FieldName': 'TTMEBITD', 'Type': 'N'} = 13338.00000
      <Ratio> {'FieldName': 'TTMNIAC', 'Type': 'N'} = 12743.00000
    <Group> {'ID': 'Per share data'}
      <Ratio> {'FieldName': 'TTMEPSXCLX', 'Type': 'N'} = 3.64717
      <Ratio> {'FieldName': 'TTMREVPS', 'Type': 'N'} = 27.83867
      <Ratio> {'FieldName': 'QBVPS', 'Type': 'N'} = 21.80574
      <Ratio> {'FieldName': 'QCSHPS', 'Type': 'N'} = 10.49205
      <Ratio> {'FieldName': 'TTMCFSHR', 'Type': 'N'} = 5.12014
      <Ratio> {'FieldName': 'TTMDIVSHR', 'Type': 'N'} = 0.00000
    <Group> {'ID': 'Other Ratios'}
      <Ratio> {'FieldName': 'TTMGROSMGN', 'Type': 'N'} = 18.22851
      <Ratio> {'FieldName': 'TTMROEPCT', 'Type': 'N'} = 20.65366
      <Ratio> {'FieldName': 'TTMPR2REV', 'Type': 'N'} = 12.20880
      <Ratio> {'FieldName': 'PEEXCLXOR', 'Type': 'N'} = 101.30870
      <Ratio> {'FieldName': 'PRICE2BK', 'Type': 'N'} = 16.94462
      <Ratio> {'FieldName': 'Employees', 'Type': 'N'} = 140473
  <ForecastData> {'ConsensusType': 'Mean', 'CurFiscalYear': '2024', 'CurFiscalYearEndMonth': '12', 'CurInterimEndCalYear': '2024', 'CurInterimEndMonth': '6', 'EarningsBasis': 'PRX'}
    <Ratio> {'FieldName': 'ConsRecom', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 2.7391
    <Ratio> {'FieldName': 'TargetPrice', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 209.89330
    <Ratio> {'FieldName': 'ProjLTGrowthRate', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 5.0500
    <Ratio> {'FieldName': 'ProjPE', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 146.76279
    <Ratio> {'FieldName': 'ProjSales', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 98907.30060
    <Ratio> {'FieldName': 'ProjSalesQ', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 24246.33050
    <Ratio> {'FieldName': 'ProjEPS', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 2.51760
    <Ratio> {'FieldName': 'ProjEPSQ', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 0.59460
    <Ratio> {'FieldName': 'ProjProfit', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 8798.17230
    <Ratio> {'FieldName': 'ProjDPS', 'Type': 'N'}
      <Value> {'PeriodType': 'CURR'} = 0.00000

In [14]:
from ib_insync import IB, Stock, Index, Contract
import xml.etree.ElementTree as ET

contract = Stock('SXLK', 'SMART', 'USD')
contract.secType = 'STK'

fundamental_data = ib.reqFundamentalData(contract, 'ReportSnapshot')
root2 = ET.fromstring(fundamental_data)

print_xml_tree(root2)

TypeError: a bytes-like object is required, not 'list'

In [4]:
from dataclasses import dataclass
import xml.etree.ElementTree as ET

@dataclass
class StockIndustries:
    type: str = ''  # e.g., 'GICS', 'NAICS', 'SIC', 'TRBC'
    order: int = 0
    code: str = ''
    description: str = ''

def extract_industries_from_xml(xml_data: str) -> list[StockIndustries]:
    root = ET.fromstring(xml_data)
    industries = []
    
    for industry in root.findall('.//Industry'):
        industry_type = industry.get('type', '')
        industry_order = int(industry.get('order', '0'))
        industry_code = industry.get('code', '')
        industry_description = industry.text.strip() if industry.text else ''
        
        industries.append(StockIndustries(
            type=industry_type,
            order=industry_order,
            code=industry_code,
            description=industry_description
        ))
    
    return industries

# Example usage
xml_data = """
<IndustryInfo>
    <Industry type="TRBC" order="1" reported="0" code="5310101014" mnem="">Electric (Alternative) Vehicles</Industry>
    <Industry type="NAICS" order="1" reported="0" code="336110" mnem="">Automobile and Light Duty Motor Vehicle Manufacturing</Industry>
    <Industry type="NAICS" order="2" reported="0" code="441110" mnem="">New Car Dealers</Industry>
    <Industry type="NAICS" order="3" reported="0" code="441120" mnem="">Used Car Dealers</Industry>
    <Industry type="NAICS" order="4" reported="0" code="335312" mnem="">Motor and Generator Manufacturing</Industry>
    <Industry type="NAICS" order="5" reported="0" code="335910" mnem="">Battery Manufacturing</Industry>
    <Industry type="NAICS" order="6" reported="0" code="334413" mnem="">Semiconductor and Related Device Manufacturing</Industry>
    <Industry type="SIC" order="1" reported="0" code="3711" mnem="">Motor Vehicles And Car Bodies</Industry>
    <Industry type="SIC" order="2" reported="0" code="5511" mnem="">New And Used Car Dealers</Industry>
    <Industry type="SIC" order="3" reported="0" code="5521" mnem="">Used Car Dealers</Industry>
    <Industry type="SIC" order="4" reported="0" code="3621" mnem="">Motors And Generators</Industry>
    <Industry type="SIC" order="5" reported="0" code="3691" mnem="">Storage Batteries</Industry>
    <Industry type="SIC" order="6" reported="0" code="3674" mnem="">Semiconductors/related Devices</Industry>
</IndustryInfo>
"""
industries = extract_industries_from_xml(xml_data)
for industry in industries:
    print(industry)

StockIndustries(type='TRBC', order=1, code='5310101014', description='Electric (Alternative) Vehicles')
StockIndustries(type='NAICS', order=1, code='336110', description='Automobile and Light Duty Motor Vehicle Manufacturing')
StockIndustries(type='NAICS', order=2, code='441110', description='New Car Dealers')
StockIndustries(type='NAICS', order=3, code='441120', description='Used Car Dealers')
StockIndustries(type='NAICS', order=4, code='335312', description='Motor and Generator Manufacturing')
StockIndustries(type='NAICS', order=5, code='335910', description='Battery Manufacturing')
StockIndustries(type='NAICS', order=6, code='334413', description='Semiconductor and Related Device Manufacturing')
StockIndustries(type='SIC', order=1, code='3711', description='Motor Vehicles And Car Bodies')
StockIndustries(type='SIC', order=2, code='5511', description='New And Used Car Dealers')
StockIndustries(type='SIC', order=3, code='5521', description='Used Car Dealers')
StockIndustries(type='SIC', order=4, code='3621', description='Motors And Generators')
StockIndustries(type='SIC', order=5, code='3691', description='Storage Batteries')
StockIndustries(type='SIC', order=6, code='3674', description='Semiconductors/related Devices')