In [8]:
from ib_insync import IB, Stock, util
import pandas as pd

# In your Jupyter notebook (TEST_Daily_Analysis.ipynb)
import sys
from pathlib import Path

# Add the project root directory to Python path
ROOT_DIR = Path.cwd().parent  # Goes up one level from 'scanner' to 'stockbot4'
if str(ROOT_DIR) not in sys.path:
    sys.path.append(str(ROOT_DIR))


from ib_insync import *
util.startLoop()
import stock

ib = IB()
ib.connect('127.0.0.1', 7496, clientId=12)

In [4]:

from ib_insync import *
util.startLoop()

ib = IB()
ib.connect('127.0.0.1', 7496, clientId=13)

ct = Stock('TSLA', 'SMART', 'USD')

# 1 min max 7 D
# 5 mins max 30 D
# 15 mins max 60 D
# 1 hour max 365 D
# 1 day max 20 Y

bars = ib.reqHistoricalData(
        ct,
        endDateTime='20241101 23:59:59 US/Eastern',
        barSizeSetting='15 mins',
        durationStr='30 D',
        whatToShow='TRADES',
        useRTH=False,
        formatDate=1)

ib.disconnect()

df = util.df(bars)
df

,date,open,high,low,close,volume,average,barCount
0,2024-09-23 03:00:00,240.00,240.90,239.88,240.54,370,240.458,227
1,2024-09-23 03:15:00,240.67,240.77,240.20,240.65,183,240.583,113
2,2024-09-23 03:30:00,240.70,240.70,240.24,240.35,110,240.456,58
3,2024-09-23 03:45:00,240.28,240.73,240.10,240.73,129,240.430,77
4,2024-09-23 04:00:00,240.73,240.94,240.60,240.73,78,240.784,52
...,...,...,...,...,...,...,...,...
1915,2024-11-01 17:45:00,249.37,249.39,249.20,249.32,169,249.290,62
1916,2024-11-01 18:00:00,249.34,249.34,249.14,249.14,79,249.269,37
1917,2024-11-01 18:15:00,249.14,249.20,249.14,249.15,72,249.165,32
1918,2024-11-01 18:30:00,249.15,249.18,249.05,249.07,151,249.104,51
1919,2024-11-01 18:45:00,249.07,249.37,249.05,249.37,258,249.207,81

In [20]:

from ib_insync import util, IB
from data.live_ib_data import LiveData
util.startLoop()

ib = IB()
ib.connect('127.0.0.1', 7496, clientId=16)

ld = LiveData(ib)

ld.setup_tickers(['TSLA', 'AAPL', 'AMD'])
ld.setup_contracts()
ld.reqLiveBars(show=False)

In [21]:
df = ld.get_live_bar_df(ticker='AMD', format=False, bsize='5 mins', tickUpdate=True) #.iloc[-10:]
df

,time,endTime,open_,high,low,close,volume,wap,count
0,2025-03-19 19:28:40+00:00,-1,106.48,106.48,106.42,106.42,38,106.45,29

In [22]:
df = ld.get_live_bar_df(ticker='TSLA', format=True, bsize='5 mins', tickUpdate=True) #.iloc[-10:]
df

                             open    high     low   close  volume
date
2025-03-19 15:25:00-04:00  236.38  236.48  235.85  235.89   698.5

In [23]:
df = ld.get_live_bar_df(ticker='AAPL', format=True, bsize='5 mins', tickUpdate=True) #.iloc[-10:]
df

                             open    high     low   close  volume
date
2025-03-19 15:25:00-04:00  215.54  215.54  215.44  215.44    57.0

In [2]:
ib.disconnect()

NameError: name 'ib' is not defined

In [10]:
bot.disiconnect_from_ib()

In [1]:
from STOCKBOT import StockBot
bot = StockBot()
bot.connect_to_ib(clientId=50)

In [7]:


bot.run_live_data(symbols=['TSLA', 'AAPL', 'AMD'])

In [7]:
bot.livedata.get_live_bar_df(ticker='TSLA', format=True, bsize='5 mins', tickUpdate=True) #.iloc[-10:]

ValueError: SBIB Error :: TSLA not Found

In [3]:
# bot.setup_stocks(['TSLA', 'AAPL', 'AMD'], ls='LONG')

bot.stocks['TSLA'].setup_frame('2 mins', 'ohlcv', start_date="1 daysAgo", end_date='now', force_download=False, isIntradayFrame=True)

No overlap between requested dates (2025-03-18 00:00:00 to 2025-03-19 00:00:00) and stored dates (2024-12-27 04:00:00 to 2025-02-13 16:02:00)
-------------------------------------------------------------------------------------------------
get_hist_data            : TSLA 2 mins (file_interval='1_min')
Data Path                : C:\Users\sidsu\anaconda3\envs\SB4\stockbot4\data\historical_data_store/TSLA_1_min.csv
Data Stored    - Start   : 2024-12-27 04:00:00, End: 2025-02-13 16:02:00, Rows: 13736
Data Requested - Start   : 2025-03-18 00:00:01, End: now
Missing dates            : 1
Getting missing data     : [('2025-03-18', '2025-03-19')]
-------------------------------------------------------------------------------------------------
StockX::setup_frame: TSLA 2 mins ohlcv 1 daysAgo now force_download=False : (359, 5)

In [5]:
bot.stocks['TSLA'].get_frame_data('2 mins')

                       open    high     low   close  volume
date
2025-03-19 03:00:00  227.19  228.66  227.19  228.28      97
2025-03-19 03:02:00  228.13  228.90  228.13  228.90     130
2025-03-19 03:04:00  228.86  229.02  228.73  228.95      62
2025-03-19 03:06:00  229.11  229.11  228.34  228.55     139
2025-03-19 03:08:00  228.63  229.80  228.59  229.69     113
...                     ...     ...     ...     ...     ...
2025-03-19 14:48:00  236.96  237.07  236.49  236.80    4158
2025-03-19 14:50:00  236.75  236.80  235.59  236.15    6263
2025-03-19 14:52:00  236.15  236.79  235.75  236.58    5162
2025-03-19 14:54:00  236.55  236.98  235.31  235.61    5627
2025-03-19 14:56:00  235.63  235.71  235.45  235.70     895

[359 rows x 5 columns]

In [1]:
from STOCKBOT import StockBot
bot = StockBot()
bot.connect_to_ib(clientId=50)

In [2]:


symbols=['TSLA', 'AAPL', 'AMD']

bot.setup_stocks(symbols, ls='LONG')

s = 'TSLA'

bot.stocks[s].setup_frame('2 mins', 'ohlcv', start_date="1 daysAgo", end_date='now', force_download=False, isIntradayFrame=True)
bot.run_live_data(symbols=['TSLA', 'AAPL', 'AMD'])

-------------------------------------------------------------------------------------------------
get_hist_data            : TSLA 2 mins (file_interval='1_min')
Data Path                : C:\Users\sidsu\anaconda3\envs\SB4\stockbot4\data\historical_data_store/TSLA_1_min.csv
Data Stored    - Start   : 2024-12-27 04:00:00, End: 2025-03-19 14:56:00, Rows: 14453
Data Requested - Start   : 2025-03-18 00:00:01, End: now
Missing dates            : 0
Getting missing data     : False
-------------------------------------------------------------------------------------------------
StockX::setup_frame: TSLA 2 mins ohlcv 1 daysAgo now force_download=False : (359, 5)

In [30]:
ohlcv = bot.livedata.get_live_bar_df(ticker='TSLA', format=True, bsize='5 mins', tickUpdate=True, tz='')
bot.stocks['TSLA'].get_frame('2 mins').load_ohlcv(ohlcv)
bot.stocks['TSLA'].get_frame_data('2 mins')

# ohlcv

                       open    high     low   close       volume
2025-03-19 03:00:00  227.19  228.66  227.19  228.28    97.000000
2025-03-19 03:02:00  228.13  228.90  228.13  228.90   130.000000
2025-03-19 03:04:00  228.86  229.02  228.73  228.95    62.000000
2025-03-19 03:06:00  229.11  229.11  228.34  228.55   139.000000
2025-03-19 03:08:00  228.63  229.80  228.59  229.69   113.000000
...                     ...     ...     ...     ...          ...
2025-03-19 14:52:00  236.15  236.79  235.75  236.58  5162.000000
2025-03-19 14:54:00  236.55  236.98  235.31  235.61  5627.000000
2025-03-19 14:56:00  235.63  235.71  235.45  235.70   895.000000
2025-03-19 20:20:00  236.33  236.33  236.25  236.28     0.900000
2025-03-19 20:25:00  236.28  236.30  236.16  236.25     1.111111

[361 rows x 5 columns]

In [25]:
bot.stocks['TSLA'].get_frame('2 mins').load_ohlcv(ohlcv)
bot.stocks['TSLA'].get_frame_data('2 mins')

                       open    high     low   close  volume
2025-03-19 03:00:00  227.19  228.66  227.19  228.28    97.0
2025-03-19 03:02:00  228.13  228.90  228.13  228.90   130.0
2025-03-19 03:04:00  228.86  229.02  228.73  228.95    62.0
2025-03-19 03:06:00  229.11  229.11  228.34  228.55   139.0
2025-03-19 03:08:00  228.63  229.80  228.59  229.69   113.0
...                     ...     ...     ...     ...     ...
2025-03-19 14:52:00  236.15  236.79  235.75  236.58  5162.0
2025-03-19 14:54:00  236.55  236.98  235.31  235.61  5627.0
2025-03-19 14:56:00  235.63  235.71  235.45  235.70   895.0
2025-03-19 20:20:00  236.33  236.33  236.25  236.28     0.9
2025-03-19 20:25:00  236.28  236.30  236.22  236.22     0.7

[361 rows x 5 columns]

In [9]:
f = bot.stocks['TSLA'].get_frame('2 mins')
print(f.data.index[-1])
print(ohlcv.index[0])
ohlcv

2025-03-19 14:56:00
0

,time,endTime,open_,high,low,close,volume,wap,count
0,2025-03-19 20:14:20+00:00,-1,236.36,236.36,236.36,236.36,0,236.36,0
1,2025-03-19 20:14:25+00:00,-1,236.45,236.45,236.45,236.45,7,236.45,3
2,2025-03-19 20:14:30+00:00,-1,236.53,236.53,236.53,236.53,1,236.53,1
3,2025-03-19 20:14:35+00:00,-1,236.37,236.37,236.37,236.37,1,236.37,1
4,2025-03-19 20:14:40+00:00,-1,236.37,236.41,236.37,236.41,25,236.38,4
...,...,...,...,...,...,...,...,...,...
85,2025-03-19 20:21:20+00:00,-1,236.36,236.36,236.36,236.36,1,236.36,1
86,2025-03-19 20:21:25+00:00,-1,236.36,236.36,236.36,236.36,0,236.36,0
87,2025-03-19 20:21:30+00:00,-1,236.29,236.30,236.26,236.26,5,236.29,4
88,2025-03-19 20:21:35+00:00,-1,236.26,236.26,236.26,236.26,0,236.26,0
89,2025-03-19 20:21:40+00:00,-1,236.21,236.38,236.20,236.37,3,236.26,2