# OHLCV Data Retrieval and Management Test

This notebook demonstrates the usage of the OHLCV class for retrieving, generating, and managing stock data.

In [1]:
import sys
import os
from pathlib import Path

# Add the parent directory of 'data' to the Python path
current_dir = Path(os.getcwd())
parent_dir = current_dir.parent
sys.path.append(str(parent_dir))

import pandas as pd
from data.ohlcv import OHLCV
from datetime import datetime, timedelta

# Print current working directory and sys.path for debugging
print(f"Current working directory: {os.getcwd()}")
print(f"sys.path: {sys.path}")

# Initialize OHLCV with your API key
api_key = "171136ac7161454b8f4abeb987c72b02"  # Replace with your actual Twelve Data API key
ohlcv = OHLCV(api_key=api_key)

Current working directory: c:\Users\sidsu\anaconda3\envs\SB4\stockbot4\data
sys.path: ['c:\\Users\\sidsu\\anaconda3\\envs\\SB4\\python312.zip', 'c:\\Users\\sidsu\\anaconda3\\envs\\SB4\\DLLs', 'c:\\Users\\sidsu\\anaconda3\\envs\\SB4\\Lib', 'c:\\Users\\sidsu\\anaconda3\\envs\\SB4', '', 'c:\\Users\\sidsu\\anaconda3\\envs\\SB4\\Lib\\site-packages', 'c:\\Users\\sidsu\\anaconda3\\envs\\SB4\\Lib\\site-packages\\win32', 'c:\\Users\\sidsu\\anaconda3\\envs\\SB4\\Lib\\site-packages\\win32\\lib', 'c:\\Users\\sidsu\\anaconda3\\envs\\SB4\\Lib\\site-packages\\Pythonwin', 'c:\\Users\\sidsu\\anaconda3\\envs\\SB4\\stockbot4']

## 1. Download and Save Data from Twelve Data

In [2]:
# Download data for the last month
end_date = datetime.now().strftime('%Y-%m-%d')
start_date = (datetime.now() - timedelta(days=30)).strftime('%Y-%m-%d')

twelve_data = ohlcv.get_data('twelve_data', symbol="TSLA", interval="1day", start_date=start_date, end_date=end_date, save_format='csv')
print("Downloaded data:")
display(twelve_data)

Data saved as data\historical_data\TSLA_1day.csv
Downloaded data:

                 open       high        low      close       volume
datetime
2024-10-11  220.13000  223.34000  214.38000  217.80000  142287000.0
2024-10-10  241.81000  242.78999  232.34000  238.77000   83087100.0
2024-10-09  243.82001  247.42999  239.50999  241.05000   66289500.0
2024-10-08  243.56000  246.21001  240.56000  244.50000   56303200.0
2024-10-07  249.00000  249.83000  240.70000  240.83000   68113300.0
2024-10-04  246.69000  250.96001  244.58000  250.08000   86573200.0
2024-10-03  244.48000  249.78999  237.81000  240.66000   80729200.0
2024-10-02  247.55000  251.16000  241.50000  249.02000   93983900.0
2024-10-01  262.67001  263.98001  248.53000  258.01999   87397600.0
2024-09-30  259.04001  264.85999  255.77000  261.63000   80705700.0
2024-09-27  257.38000  260.70001  254.12000  260.45999   70988100.0
2024-09-26  260.60001  261.75000  251.53000  254.22000   67142200.0
2024-09-25  252.53999  257.04999  252.28000  257.01999   65034300.0
2024-09-24  254.08000  257.19000  249.05000  254.27000   88491000.0
2024-09-23  242.61000  250.00000  241.92000  250.00000   86927200.0
2024-09-20  241.52000  243.99001  235.92000  238.25000   99879100.0
2024-09-19  234.00000  244.24001  232.13000  243.92000  102694600.0
2024-09-18  230.09000  235.67999  226.88000  227.20000   78010200.0
2024-09-17  229.45000  234.57001  226.55000  227.87000   66761600.0
2024-09-16  229.30000  229.96001  223.53000  226.78000   54323000.0
2024-09-13  228.00000  232.67000  226.32001  230.28999   59515100.0

## 2. Generate and Save Random Data

In [3]:
random_data = ohlcv.get_data('random', symbol="RAND", start="2023-01-01", periods=30, freq="1D", open_rng=(-1, 1), close_rng=(-1, 1), save_format='csv')
print("Generated random data:")
display(random_data)

Data saved as data\historical_data\RAND_random_1day.csv
Generated random data:

              open    high     low   close  volume
date
2023-01-01   99.93  100.14   98.05   99.45    1251
2023-01-02   99.67  101.77   94.90   99.16     500
2023-01-03   98.88  103.14   93.67   97.98     500
2023-01-04   98.23  101.37   93.01   97.66     500
2023-01-05   97.75  100.05   92.73   97.40     500
2023-01-06   96.44   99.28   95.03   95.79    3948
2023-01-07   95.31   98.55   91.67   95.30   50000
2023-01-08   95.96   99.49   91.30   95.45     500
2023-01-09   95.81   99.67   91.04   96.40   15148
2023-01-10   95.59  100.89   95.43   96.21     500
2023-01-11   97.15  101.97   96.12   97.42    9793
2023-01-12   97.14   97.26   96.88   97.13     500
2023-01-13   98.01  100.09   93.47   98.77   29721
2023-01-14   99.43  101.57   95.30   99.00     500
2023-01-15   99.01   99.80   95.23   99.66     500
2023-01-16  100.22  101.34   98.58  101.17     500
2023-01-17  100.79  102.66  100.53  101.13     500
2023-01-18  100.88  101.18   98.98  101.02   27964
2023-01-19  101.47  102.43   99.62  102.18     500
2023-01-20  102.09  105.10   98.44  101.62   21103
2023-01-21  100.97  103.41   99.94  100.16     500
2023-01-22  100.42  100.93   97.80  100.19    2360
2023-01-23  100.31  103.36  100.20  101.05     500
2023-01-24  101.65  102.73   99.56  102.66     500
2023-01-25  102.25  104.61  101.48  101.85     500
2023-01-26  101.34  106.59  101.06  101.61     500
2023-01-27  100.67  103.77  100.14  101.29   14137
2023-01-28  102.30  105.53  101.15  101.57     500
2023-01-29  101.65  104.69   98.64  101.57   24812
2023-01-30  101.25  103.78   97.71  101.76     500

## 3. Append New Data to Existing Data

In [4]:
# Function to append new data to existing data
def append_new_data(existing_data, new_data):
    combined_data = pd.concat([existing_data, new_data])
    combined_data = combined_data[~combined_data.index.duplicated(keep='last')]
    combined_data.sort_index(inplace=True)
    return combined_data

# Download new data for the last week
new_end_date = datetime.now().strftime('%Y-%m-%d')
new_start_date = (datetime.now() - timedelta(days=7)).strftime('%Y-%m-%d')

new_data = ohlcv.get_data('twelve_data', symbol="AAPL", interval="1day", start_date=new_start_date, end_date=new_end_date, save_format='csv')

# Append new data to existing data
updated_data = append_new_data(twelve_data, new_data)

print("Updated data after appending:")
display(updated_data)

# Save the updated data
ohlcv.save_data(updated_data, "AAPL_1day_updated", "csv")

Data saved as data\historical_data\AAPL_1day.csv
Updated data after appending:

                 open       high        low      close       volume
datetime
2024-09-13  228.00000  232.67000  226.32001  230.28999   59515100.0
2024-09-16  229.30000  229.96001  223.53000  226.78000   54323000.0
2024-09-17  229.45000  234.57001  226.55000  227.87000   66761600.0
2024-09-18  230.09000  235.67999  226.88000  227.20000   78010200.0
2024-09-19  234.00000  244.24001  232.13000  243.92000  102694600.0
2024-09-20  241.52000  243.99001  235.92000  238.25000   99879100.0
2024-09-23  242.61000  250.00000  241.92000  250.00000   86927200.0
2024-09-24  254.08000  257.19000  249.05000  254.27000   88491000.0
2024-09-25  252.53999  257.04999  252.28000  257.01999   65034300.0
2024-09-26  260.60001  261.75000  251.53000  254.22000   67142200.0
2024-09-27  257.38000  260.70001  254.12000  260.45999   70988100.0
2024-09-30  259.04001  264.85999  255.77000  261.63000   80705700.0
2024-10-01  262.67001  263.98001  248.53000  258.01999   87397600.0
2024-10-02  247.55000  251.16000  241.50000  249.02000   93983900.0
2024-10-03  244.48000  249.78999  237.81000  240.66000   80729200.0
2024-10-04  246.69000  250.96001  244.58000  250.08000   86573200.0
2024-10-06  224.50000  225.69000  221.33000  221.69000   39505352.0
2024-10-07  224.50000  225.69000  221.33000  221.69000   39505400.0
2024-10-08  224.30000  225.98000  223.25000  225.77000   31855700.0
2024-10-09  225.23000  229.75000  224.83000  229.53999   33591100.0
2024-10-10  227.78000  229.50000  227.17000  229.03999   28183500.0
2024-10-11  229.30000  229.41000  227.34000  227.55000   31668000.0

Data saved as data\historical_data\AAPL_1day_updated.csv

## 4. Load and Display Saved Data

In [5]:
# Load the saved data
loaded_data = ohlcv.get_data('file', file_path="data/historical_data/AAPL_1day_updated.csv")
print("Loaded data from file:")
display(loaded_data)

Loaded data from file:

                 open       high        low      close       volume
datetime
2024-09-13  228.00000  232.67000  226.32001  230.28999   59515100.0
2024-09-16  229.30000  229.96001  223.53000  226.78000   54323000.0
2024-09-17  229.45000  234.57001  226.55000  227.87000   66761600.0
2024-09-18  230.09000  235.67999  226.88000  227.20000   78010200.0
2024-09-19  234.00000  244.24001  232.13000  243.92000  102694600.0
2024-09-20  241.52000  243.99001  235.92000  238.25000   99879100.0
2024-09-23  242.61000  250.00000  241.92000  250.00000   86927200.0
2024-09-24  254.08000  257.19000  249.05000  254.27000   88491000.0
2024-09-25  252.53999  257.04999  252.28000  257.01999   65034300.0
2024-09-26  260.60001  261.75000  251.53000  254.22000   67142200.0
2024-09-27  257.38000  260.70001  254.12000  260.45999   70988100.0
2024-09-30  259.04001  264.85999  255.77000  261.63000   80705700.0
2024-10-01  262.67001  263.98001  248.53000  258.01999   87397600.0
2024-10-02  247.55000  251.16000  241.50000  249.02000   93983900.0
2024-10-03  244.48000  249.78999  237.81000  240.66000   80729200.0
2024-10-04  246.69000  250.96001  244.58000  250.08000   86573200.0
2024-10-06  224.50000  225.69000  221.33000  221.69000   39505352.0
2024-10-07  224.50000  225.69000  221.33000  221.69000   39505400.0
2024-10-08  224.30000  225.98000  223.25000  225.77000   31855700.0
2024-10-09  225.23000  229.75000  224.83000  229.53999   33591100.0
2024-10-10  227.78000  229.50000  227.17000  229.03999   28183500.0
2024-10-11  229.30000  229.41000  227.34000  227.55000   31668000.0