# Testing Twelve Data API Integration

This notebook demonstrates how to use the TwelveData class to retrieve historical stock data.

In [ ]:
import


api_key = '171136ac7161454b8f4abeb987c72b02'
td = TDClient(apikey=api_key)

ts = self.td.time_series(
            symbol=symbol,
            interval=interval,
            start_date=start_date,
            end_date=end_date,
            outputsize=outputsize,
            timezone=timezone,
        )
api_key = '171136ac7161454b8f4abeb987c72b02'
td = TDClient(apikey=api_key)

ts = self.td.time_series(
            symbol=symbol,
            interval=interval,
            start_date=start_date,
            end_date=end_date,
            outputsize=outputsize,
            timezone=timezone,
        )

In [1]:
from twelve_data import TwelveData

# Replace 'YOUR_API_KEY' with your actual Twelve Data API key
api_key = '171136ac7161454b8f4abeb987c72b02'

# Initialize the TwelveData instance
td = TwelveData(api_key, 'TSLA')
td

## Example 1: Retrieve historical data for a specific date range

In [2]:
# Retrieve historical data for AAPL (Apple Inc.) from January 1, 2023 to May 1, 2023
data = td.get_historical_data("TSLA", start_date="2023-01-01 04:00", end_date="2023-05-01 16:00", interval="1h")

# Print the first few entries of the retrieved data
data

Attempting to fetch data for gap: 2023-01-01 04:00:00 to 2023-05-01 16:00:00
Successfully fetched data for period
Columns being saved: ['datetime', 'open', 'high', 'low', 'close', 'volume']
Returning data from 2023-01-03 09:30:00-05:00 to 2023-05-01 15:30:00-04:00

,open,high,low,close,volume
datetime,,,,,
2023-01-03 09:30:00-05:00,118.47000,118.80000,110.35070,111.06000,65615599
2023-01-03 10:30:00-05:00,111.05000,112.24000,108.05000,108.47010,33929104
2023-01-03 11:30:00-05:00,108.47240,108.49500,105.60000,106.15000,33451392
2023-01-03 12:30:00-05:00,106.14880,106.47600,104.64000,105.67000,24087601
2023-01-03 13:30:00-05:00,105.67000,107.45000,105.34010,107.32000,23360158
...,...,...,...,...,...
2023-05-01 11:30:00-04:00,159.08000,161.12000,158.95000,160.96130,15462301
2023-05-01 12:30:00-04:00,160.98000,162.42999,160.94000,161.94000,12520029
2023-05-01 13:30:00-04:00,161.93500,162.63989,161.41000,161.58000,10629849
2023-05-01 14:30:00-04:00,161.58501,161.61000,160.56000,161.11839,11290405
2023-05-01 15:30:00-04:00,161.13000,162.11000,160.92999,161.78000,7078978

In [2]:
import time
from twelvedata import TDClient
api_key = '171136ac7161454b8f4abeb987c72b02'

messages_history = []


def on_event(e):
    # do whatever is needed with data
    print(e)
    messages_history.append(e)


td = TDClient(apikey=api_key)
ws = td.websocket(symbols="TSLA", on_event=on_event)
ws.subscribe(['TSLA'])
ws.connect()
while True:
    print('messages received: ', len(messages_history))
    ws.heartbeat()
    time.sleep(10)

messages received:  0
{'event': 'subscribe-status', 'status': 'error', 'success': None, 'fails': [{'symbol': 'TSLA'}]}
messages received:  1
{'event': 'heartbeat', 'status': 'ok'}
messages received:  2
{'event': 'heartbeat', 'status': 'ok'}
messages received:  3
{'event': 'heartbeat', 'status': 'ok'}
messages received:  4
{'event': 'heartbeat', 'status': 'ok'}

KeyboardInterrupt:

In [3]:
import time
from twelvedata import TDClient
api_key = '171136ac7161454b8f4abeb987c72b02'

td = TDClient(apikey=api_key)
ws = td.websocket(symbols="TSLA", on_event=on_event)

In [6]:
ws.unsubscribe(['TSLA'])

In [1]:
import time
import pandas as pd
from twelvedata import TDClient
import pytz
from datetime import datetime

class TwelveDataClient:
    def __init__(self, api_key):
        self.api_key = api_key
        self.td = TDClient(apikey=api_key)
        self.messages_history = []
        self.tick_data = []
        self.ws = None
        self.running = False

    def get_historical_data(self, symbol, interval='1day', start_date=None, end_date=None, outputsize=None, timezone="America/New_York"):
        """
        Retrieve historical stock data from Twelve Data API.

        :param symbol: The stock symbol (e.g., 'AAPL' for Apple Inc.)
        :param interval: Time interval between two consecutive data points (default: '1day')
        :param start_date: Start date for the data (format: 'YYYY-MM-DD HH:MM')
        :param end_date: End date for the data (format: 'YYYY-MM-DD HH:MM')
        :param outputsize: Number of data points to retrieve (max 5000)
        :param timezone: Timezone for the data (default: 'America/New_York')
        :return: DataFrame containing the historical data
        """
        tz = pytz.timezone(timezone)
        
        if start_date:
            start_date = tz.localize(datetime.strptime(start_date, "%Y-%m-%d %H:%M")).isoformat()
        if end_date:
            end_date = tz.localize(datetime.strptime(end_date, "%Y-%m-%d %H:%M")).isoformat()

        ts = self.td.time_series(
            symbol=symbol,
            interval=interval,
            start_date=start_date,
            end_date=end_date,
            outputsize=outputsize,
            timezone=timezone,
        )
        return ts.as_pandas()

    def on_event(self, e):
        print(e)
        self.messages_history.append(e)
        # if 'event' in e and e['event'] == 'price':
            # tick = {
            #     'timestamp': e['timestamp'],
            #     'symbol': e['symbol'],
            #     'price': e['price'],
            #     'volume': e['volume']
            # }
            # self.tick_data.append(tick)
        

    def start_websocket(self, symbols):


        
        ws = self.td.websocket(symbols="USD", on_event=self.on_event)
        # ws.subscribe(['ETH/BTC', 'AAPL'])
        # ws.subscribe(['AAPL'])
        ws.subscribe(symbols)
        ws.connect()
        while True:
            if len(self.messages_history) > 0:
                print('messages received: ', len(self.messages_history),  self.messages_history[-1])
                ws.heartbeat()
            time.sleep(10)

        # self.ws = self.td.websocket(symbols="USD", on_event=self.on_event)
        # self.ws.subscribe(symbols)
        # self.running = True
        # while self.running:
        #     try:
        #         self.ws.connect()
        #         while self.running:
        #             if len(self.messages_history) > 0:
        #                 print('messages received: ', len(self.messages_history) , self.messages_history[-1] )
        #             self.ws.heartbeat()
        #             time.sleep(10)
        #     except Exception as e:
        #         print(f"WebSocket error: {e}")
        #         self.ws.disconnect()
        #         time.sleep(5)
        #         self.ws.connect()

    def stop_websocket(self):
        if self.ws:
            self.running = False
            self.ws.disconnect()
            self.ws = None

# Example usage
api_key = '171136ac7161454b8f4abeb987c72b02'
client = TwelveDataClient(api_key)

# Get historical data
# df = client.get_historical_data("AAPL", "1min", start_date="2024-10-22 09:30", end_date="2024-10-22 14:30", outputsize=1100)
# print(df)

# Start WebSocket connection
client.start_websocket(['TSLA'])

# Stop WebSocket connection
# client.stop_websocket()

# Access tick data
print(client.tick_data)

{'event': 'subscribe-status', 'status': 'error', 'success': None, 'fails': [{'symbol': 'TSLA'}, {'symbol': 'USD'}]}

In [2]:
client.messages_history

NameError: name 'client' is not defined

In [38]:
import time
from twelvedata import TDClient

messages_history = []

def on_event(e):
    # do whatever is needed with data
    print(e)
    messages_history.append(e)

def subscribe_to_twelvedata(api_key, symbols, iterations):
    td = TDClient(apikey=api_key)
    ws = td.websocket(symbols="USD", on_event=on_event)
    ws.subscribe(symbols)
    ws.connect()

    count = 0
    while count < iterations:
        print('messages received: ', len(messages_history))
        ws.heartbeat()
        time.sleep(5)
        count += 1
    ws.disconnect()

# Example usage:
subscribe_to_twelvedata('171136ac7161454b8f4abeb987c72b02', ['EUR/USD'], 3)

messages received:  0
{'event': 'subscribe-status', 'status': 'warning', 'success': [{'symbol': 'EUR/USD', 'type': 'PHYSICAL_CURRENCY'}], 'fails': [{'symbol': 'USD'}]}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729738320, 'price': 1.07888}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729738320, 'price': 1.07889}
messages received:  3
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729738320, 'price': 1.07889}
messages received:  5
{'event': 'heartbeat', 'status': 'ok'}

In [1]:
import time
from datetime import datetime
import pytz
from tzlocal import get_localzone
from twelvedata import TDClient
import pandas as pd

class TwelveData:
    def __init__(self, api_key, symbols, iterations):
        self.api_key = api_key
        self.symbols = symbols
        self.iterations = iterations
        
        self.messages_history = []
        self.ohlc_data = {symbol: [] for symbol in symbols}
        self.current_minute_data = {symbol: {} for symbol in symbols}

    def on_event(self, e):
        if e['event'] == 'price':
            symbol = e['symbol']
            timestamp = datetime.fromtimestamp(e['timestamp'])
            
            # Set timezone to exchange timezone if available, otherwise use local timezone
            if 'timezone' in e:
                tz = pytz.timezone(e['timezone'])
            else:
                tz = get_localzone()
            
            timestamp = timestamp.astimezone(tz)
            # Set seconds to zero
            timestamp = timestamp.replace(second=0, microsecond=0)
            minute = timestamp.minute
            price = float(e['price'])
            
            if 'minute' not in self.current_minute_data[symbol] or self.current_minute_data[symbol]['minute'] != minute:
                if 'minute' in self.current_minute_data[symbol]:
                    self.ohlc_data[symbol].append(self.current_minute_data[symbol])
                self.current_minute_data[symbol] = {
                    'symbol': symbol,
                    'minute': minute,
                    'datetime': timestamp.strftime('%Y-%m-%d %H:%M:%S'),
                    'open': price,
                    'high': price,
                    'low': price,
                    'close': price,
                    'volume': e.get('volume', 0)
                }
            else:
                self.current_minute_data[symbol]['high'] = max(self.current_minute_data[symbol]['high'], price)
                self.current_minute_data[symbol]['low'] = min(self.current_minute_data[symbol]['low'], price)
                self.current_minute_data[symbol]['close'] = price
                if 'volume' in e:
                    self.current_minute_data[symbol]['volume'] += e['volume']
            
            self.messages_history.append(e)
        print(e)

    def subscribe(self):
        td = TDClient(apikey=self.api_key)
        ws = td.websocket(symbols="USD", on_event=self.on_event)
        ws.subscribe(self.symbols)
        ws.connect()

        count = 0
        while count < self.iterations:
            print('messages received: ', len(self.messages_history))
            ws.heartbeat()
            time.sleep(5)
            count += 1
        ws.disconnect()
        print('----------------------')
        print('Websocket disconnected')
        print('----------------------')
        
        # Add the last minute's data if it exists
        for symbol in self.symbols:
            if self.current_minute_data[symbol]:
                self.ohlc_data[symbol].append(self.current_minute_data[symbol])
    
    def get_df(self):
        all_data = []
        for symbol in self.symbols:
            all_data.extend(self.ohlc_data[symbol])
        return pd.DataFrame(all_data).drop(columns=['minute']).set_index('datetime')

# Example usage:
td = TwelveData('171136ac7161454b8f4abeb987c72b02', ['EUR/USD', 'USD/JPY'], 10)
td.subscribe()
# df = td.get_df()
# print(df)

messages received:  0
{'event': 'subscribe-status', 'status': 'warning', 'success': [{'symbol': 'EUR/USD', 'type': 'PHYSICAL_CURRENCY'}, {'symbol': 'USD/JPY', 'type': 'PHYSICAL_CURRENCY'}], 'fails': [{'symbol': 'USD'}]}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729740600, 'price': 1.07878}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740633, 'price': 152.46}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740634, 'price': 152.453}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740635, 'price': 152.462}
messages received:  4
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740636, 'price': 152.455}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729740600, 'price': 1.07878}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740638, 'price': 152.471}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740639, 'price': 152.47}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740639, 'price': 152.47}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740640, 'price': 152.469}
messages received:  10
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740641, 'price': 152.47}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740643, 'price': 152.474}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740644, 'price': 152.473}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740645, 'price': 152.473}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740646, 'price': 152.473}
messages received:  15
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740647, 'price': 152.473}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740648, 'price': 152.479}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740648, 'price': 152.477}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740649, 'price': 152.479}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740650, 'price': 152.481}
messages received:  20
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740651, 'price': 152.478}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740653, 'price': 152.481}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740654, 'price': 152.478}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740655, 'price': 152.468}
messages received:  24
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740656, 'price': 152.464}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740657, 'price': 152.47}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740659, 'price': 152.468}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740661, 'price': 152.47}
messages received:  28
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740661, 'price': 152.472}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740662, 'price': 152.468}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740664, 'price': 152.468}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729740660, 'price': 1.07876}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740665, 'price': 152.471}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740666, 'price': 152.468}
messages received:  34
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740666, 'price': 152.469}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740667, 'price': 152.468}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740668, 'price': 152.468}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740670, 'price': 152.471}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729740660, 'price': 1.0787}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740670, 'price': 152.467}
messages received:  40
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740675, 'price': 152.468, 'bid': 152.46800232, 'ask': 152.47999573}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740675, 'price': 152.468}
messages received:  42
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740676, 'price': 152.469}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729740660, 'price': 1.07875}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740677, 'price': 152.468}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740678, 'price': 152.468}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740679, 'price': 152.469}
{'event': 'price', 'symbol': 'USD/JPY', 'currency': 'USD', 'currency_base': 'US Dollar', 'currency_quote': 'Japanese Yen', 'type': 'Physical Currency', 'timestamp': 1729740680, 'price': 152.468}
----------------------
Websocket disconnected
----------------------

In [3]:
td.get_df().sort_index()

,symbol,open,high,low,close,volume
datetime,,,,,,
2024-10-24 04:30:00,EUR/USD,1.07878,1.07878,1.07878,1.07878,0
2024-10-24 04:30:00,USD/JPY,152.46000,152.48100,152.45300,152.46800,0
2024-10-24 04:31:00,EUR/USD,1.07876,1.07876,1.07870,1.07875,0
2024-10-24 04:31:00,USD/JPY,152.47000,152.47200,152.46700,152.46800,0

In [5]:
import pandas as pd

pd.DataFrame(ohlc_data).drop(columns=['minute']).set_index('datetime')

                         open      high       low     close  volume
datetime
2024-10-24 04:08:00  1.078857  1.078857  1.078857  1.078857       0
2024-10-24 04:09:00  1.078850  1.078857  1.078842  1.078847       0

In [35]:

import time
from twelvedata import TDClient

api_key = '171136ac7161454b8f4abeb987c72b02'
td = TDClient(apikey=api_key)



# stocks_list = td.get_stocks_list(
#                 symbol=None,
#                 exchange='NASDAQ',
#                 country='USA',
#                 type=None,
#                 mic_code=None,
#                 show_plan=None,
#                 # include_delisted=None).as_json()


# stock_exchanges_list = td.get_stock_exchanges_list().as_json()

# exchange_list = td.get_exchanges_list().as_json()

# etf_list = td.get_etf_list().as_json()

# indicies_list = td.get_indices_list().as_json()

# return_search = td.symbol_search(symbol='TSLA').as_json()

# price = td.price(symbol='TSLA').as_json()
price = td.price(symbol=['AAPL', 'SPY', 'EUR/USD']).as_json()
print(price)


# quote = td.quote(symbol='TSLA').as_json()


# forex_pairs_list = td.get_forex_pairs_list().as_json()

import pandas as pd
# pd.DataFrame(forex_pairs_list)

{'AAPL': {'price': '230.75999'}, 'SPY': {'price': '577.98999'}, 'EUR/USD': {'price': '1.07871'}}

In [19]:
def find (stocks_list, symbol):
    for stock in stocks_list:
        if stock['symbol'] == symbol:
            return stock
    return None

find(stocks_list, 'TSLA')

{'symbol': 'TSLA',
 'name': 'Tesla Inc',
 'currency': 'USD',
 'exchange': 'NASDAQ',
 'mic_code': 'XNGS',
 'country': 'United States',
 'type': 'Common Stock',
 'figi_code': 'BBG000N9P426'}

In [2]:
from twelve_data import TwelveData

td = TwelveData('171136ac7161454b8f4abeb987c72b02', ['EUR/USD'])
# td.get_historical_data('EUR/USD', '1min', '2024-10-22 09:30', '2024-10-22 14:30', 1100)

td.subscribe(until='2024-10-24 05:04:00')
td.get_df()

{'event': 'subscribe-status', 'status': 'warning', 'success': [{'symbol': 'EUR/USD', 'type': 'PHYSICAL_CURRENCY'}], 'fails': [{'symbol': 'USD'}]}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729742580, 'price': 1.0788}
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729742580, 'price': 1.07881}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729742580, 'price': 1.07881}
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'price', 'symbol': 'EUR/USD', 'currency_base': 'Euro', 'currency_quote': 'US Dollar', 'type': 'Physical Currency', 'timestamp': 1729742580, 'price': 1.07881}
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'heartbeat', 'status': 'ok'}
{'event': 'heartbeat', 'status': 'ok'}
----------------------
Websocket disconnected
----------------------

                      symbol    open     high     low    close  volume
datetime
2024-10-24 05:03:00  EUR/USD  1.0788  1.07881  1.0788  1.07881       0

In [3]:
td.get_df()

<bound method DataFrame.sort_index of                       symbol     open     high       low    close  volume
datetime
2024-10-24 04:44:00  EUR/USD  1.07865  1.07866  1.078638  1.07866       0
2024-10-24 04:45:00  EUR/USD  1.07868  1.07868  1.078660  1.07866       0>