In [4]:
import email_client

email_client.send_outlook_email(
    subject="Test email",
    body="This is a test email",
    image_paths=['AAPL_zoom.png', 'AAPL.png', 'table.png'],
    recipients=['pary888@gmail.com'],
    is_html=False)

True

In [3]:
import pandas as pd
import email_client
import numpy as np



# Create a larger sample DataFrame
np.random.seed(42)
df = pd.DataFrame(
    np.random.randn(1500, 8),
    columns=[f'Column_{i}' for i in range(8)]
)
df['Category'] = np.random.choice(['A', 'B', 'C'], size=1500)
df['Date'] = pd.date_range('2023-01-01', periods=1500)

# Create email body with DataFrame
email_body = email_client.create_email_body_with_df(
    df,
    include_summary=True,
    max_rows=50,  # Only show first 1000 rows
    max_cols=None   # Show all columns
)


# Send email using our previous send_outlook_email function
email_client.send_outlook_email(
    subject="Test email",
    body=email_body,
    image_paths=[],
    recipients=['pary888@gmail.com'],
    is_html=True)

# # Alternative: Save just the styled DataFrame
# styled_path = email_client.style_and_save_dataframe(df, "my_styled_table.html")
# print(f"Styled table saved to: {styled_path}")

# # If you want to read the styled HTML later:
# with open(styled_path, 'r') as f:
#     table_html = f.read()

True

In [1]:
import pandas as pd
import numpy as np
import email_summery

# Status dictionary
status_dict = {
    "sector_analysis": 11,
    "stocks_scanned": 100,
    "stocks_validated": 12,
    "stocks_scored": 12
}

# Activity DataFrame
activity_data = {
    "Stock Name": ["Palantir", "Tesla", "Roku"],
    "Symbol": ["PLTR", "TSLA", "ROKU"],
    "TA Score": [80, 72, 65],
    "Status": ["Pending", "IN TRADE", "Completed"],
    "Daily P&L": [np.nan, 200.00, -124.00],
    "Daily P&L %": [np.nan, 2.3, -1.2]
}
activity_df = pd.DataFrame(activity_data)

# Sector ETF DataFrame
sector_etf_data = {
    "Sector": ["Energy", "Materials", "Utilities", "Industrials", "Financials", 
               "Real Estate", "Healthcare", "Consumer Staples", "Technology",
               "Communication Services", "Consumer Discretionary"],
    "ETF": ["XLE", "XLB", "XLU", "XLI", "XLF", "XLRE", "XLV", "XLP", "XLK", "XLC", "XLY"],
    "Return (%)": [-5.82, -2.25, -2.03, -1.21, -0.66, -0.35, -0.6, 2.6, 4.52, 6.09, 10.33],
    "Relative Strength": [-8.97, -5.4, -4.18, -4.36, -3.81, -3.5, -3.75, -0.55, 1.37, 2.93, 7.18],
    "Momentum (ROC)": [-4.61, -5.86, -4.38, -4.56, -3.51, -4.82, -4.36, -1.42, 2.28, 2.58, 5.93],
    "Volume Trend": ["Decreasing", "Decreasing", "Decreasing", "Decreasing", "Decreasing",
                    "Decreasing", "Increasing", "Decreasing", "Increasing", "Decreasing", "Decreasing"],
    "Outperforming SPY": ["No", "No", "No", "No", "No", "No", "No", "No", "Yes", "Yes", "Yes"],
    "Momentum Direction": ["Negative", "Negative", "Negative", "Negative", "Negative",
                         "Negative", "Negative", "Negative", "Positive", "Positive", "Positive"],
    "RS Rank": [11, 10, 9, 8, 7, 5, 6, 4, 3, 2, 1],
    "Return Rank": [11, 10, 9, 8, 7, 5, 6, 4, 3, 2, 1],
    "Mom Rank": [11, 9, 10, 7, 5, 8, 6, 4, 3, 2, 1],
    "Overall Score": [-1, 0.33, 0.67, 2.33, 3.67, 4.00, 4.00, 6.00, 7.00, 8.00, 9.00]
}
sector_etf_df = pd.DataFrame(sector_etf_data)

# Sample scan settings with raw numbers
scan_settings = {
    "timestamp": "2024-12-16 09:00:00",
    "scan_code": "TOP_PERC_GAIN",
    "price_min": 1,
    "price_max": 100,
    "volume": 100000,  # Will be formatted as "100K"
    "market_cap": 100000000,  # Will be formatted as "100M"
    "change_percent": 0.04,
    "total_scanned": 100
}

# Validated Fundamentals DataFrame
fundamentals_data = {
    "Rank": [1, 2, 3],
    "Symbol": ["TSLA", "AAPL", "MSFT"],
    "Fundamentals Passed": [True, True, False],
    "Sector1 Valid": [True, True, True],
    "Sector2 Valid": [True, True, False],
    "Market Cap > 300M": [True, True, True],
    "Vol 10DayMA > 300K": [True, True, True],
    "Close > $1": [True, True, False]
}
fundamentals_df = pd.DataFrame(fundamentals_data)

# Technical Analysis DataFrame
ta_data = {
    "Rank": [1, 2, 3],
    "Symbol": ["TSLA", "AAPL", "MSFT"],
    "TA Passed": [False, False, False],
    "Above 200MA": [True, True, True],
    "Above 150MA": [True, True, True],
    "Breaks Above 50MA": [False, False, False],
    "50MA Slope > 0": [True, True, True],
    "Gap Up > 4%": [True, False, False],
    "Volume > 50K": [True, True, True],
    "Volume Above 10MA": [False, False, False],
    "Volume Dev > 80%": [False, False, False]
}
ta_df = pd.DataFrame(ta_data)

# Daily TA Scores DataFrame (same structure as TA DataFrame for this example)
daily_ta_df = pd.DataFrame(ta_data)

# Create the email generator and generate email
email_generator = email_summery.StockSummaryEmail()
email_html = email_generator.generate_email(
    status_dict,
    scan_settings,
    activity_df,
    sector_etf_df,
    fundamentals_df,
    ta_df,
    daily_ta_df
)

# Save to file to view
with open('stock_summary.html', 'w') as f:
    f.write(email_html)

print("-- Activity DataFrame --")
display(activity_df)
print("\n-- Sector ETF DataFrame --")
display(sector_etf_df)
print("\n-- Validated Fundamentals DataFrame --")
display(fundamentals_df)
print("\n-- Technical Analysis DataFrame --")
display(ta_df)
print("\n-- Daily TA Scores DataFrame --")
display(daily_ta_df)

-- Activity DataFrame --

  Stock Name Symbol  TA Score     Status  Daily P&L  Daily P&L %
0   Palantir   PLTR        80    Pending        NaN          NaN
1      Tesla   TSLA        72   IN TRADE      200.0          2.3
2       Roku   ROKU        65  Completed     -124.0         -1.2

-- Sector ETF DataFrame --

,Sector,ETF,Return (%),Relative Strength,Momentum (ROC),Volume Trend,Outperforming SPY,Momentum Direction,RS Rank,Return Rank,Mom Rank,Overall Score
0,Energy,XLE,-5.82,-8.97,-4.61,Decreasing,No,Negative,11,11,11,-1.00
1,Materials,XLB,-2.25,-5.40,-5.86,Decreasing,No,Negative,10,10,9,0.33
2,Utilities,XLU,-2.03,-4.18,-4.38,Decreasing,No,Negative,9,9,10,0.67
3,Industrials,XLI,-1.21,-4.36,-4.56,Decreasing,No,Negative,8,8,7,2.33
4,Financials,XLF,-0.66,-3.81,-3.51,Decreasing,No,Negative,7,7,5,3.67
5,Real Estate,XLRE,-0.35,-3.50,-4.82,Decreasing,No,Negative,5,5,8,4.00
6,Healthcare,XLV,-0.60,-3.75,-4.36,Increasing,No,Negative,6,6,6,4.00
7,Consumer Staples,XLP,2.60,-0.55,-1.42,Decreasing,No,Negative,4,4,4,6.00
8,Technology,XLK,4.52,1.37,2.28,Increasing,Yes,Positive,3,3,3,7.00
9,Communication Services,XLC,6.09,2.93,2.58,Decreasing,Yes,Positive,2,2,2,8.00
10,Consumer Discretionary,XLY,10.33,7.18,5.93,Decreasing,Yes,Positive,1,1,1,9.00

-- Validated Fundamentals DataFrame --

,Rank,Symbol,Fundamentals Passed,Sector1 Valid,Sector2 Valid,Market Cap > 300M,Vol 10DayMA > 300K,Close > $1
0,1,TSLA,True,True,True,True,True,True
1,2,AAPL,True,True,True,True,True,True
2,3,MSFT,False,True,False,True,True,False

-- Technical Analysis DataFrame --

,Rank,Symbol,TA Passed,Above 200MA,Above 150MA,Breaks Above 50MA,50MA Slope > 0,Gap Up > 4%,Volume > 50K,Volume Above 10MA,Volume Dev > 80%
0,1,TSLA,False,True,True,False,True,True,True,False,False
1,2,AAPL,False,True,True,False,True,False,True,False,False
2,3,MSFT,False,True,True,False,True,False,True,False,False

-- Daily TA Scores DataFrame --

,Rank,Symbol,TA Passed,Above 200MA,Above 150MA,Breaks Above 50MA,50MA Slope > 0,Gap Up > 4%,Volume > 50K,Volume Above 10MA,Volume Dev > 80%
0,1,TSLA,False,True,True,False,True,True,True,False,False
1,2,AAPL,False,True,True,False,True,False,True,False,False
2,3,MSFT,False,True,True,False,True,False,True,False,False

In [2]:
import email_client

email_client.send_outlook_email(
    subject="STOCKBOT: Daily Stock Summery",
    body=email_html,
    image_paths=[],
    recipients=['pary888@gmail.com'],
    is_html=True)

True